# frontend runing url
VITE_BASE_URL=http://localhost:3000

# backend url 
VITE_BACKEND_URL=http://localhost:4000

# google Oath2 client id
VITE_GOOGLE_CLIENT_ID= xxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

