FRONTEND_URL=

PORT=4000
COOKIESECRETKEY=
MONGO_URL=
NODE_ENV=

# google auth 
GOOGLE_CLIENT_ID=

#github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

#otp 
IS_VERFIY_OTP=false

#SMTP 

SMTP_HOST=
SMTP_SECURE=false
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=