# Rename this file into .env


FRONTEND_URL=http://localhost:3000
PORT=4000
COOKIESECRETKEY=string
MONGO_URL=mongodb://admin:admin@localhost:27017/storage-web?authSource=admin
NODE_ENV=development

REDIS_URL=rediss://default:<password>@<server>:<port>


# google auth (optional)
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:4000/import-data/google/callback


#github (optional)
GITHUB_CLIENT_ID=          
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:4000/auth/github/callback


#otp if true than you must me set SMTP config
IS_VERFIY_OTP=false


#SMTP config (optional)
SMTP_HOST=
SMTP_SECURE=false
SMTP_PORT=
SMTP_USER=
SMTP_PASS=